<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="dependencyController"
class="tn.esprit.esponline.controller.DependencyController">

</bean>

<bean id="dependencyService" class="tn.esprit.esponline.service.DependencyService">

</bean>

<bean id="dependencyRepository"
class="tn.esprit.esponline.repository.DependencyRepository" />

</beans>